.username {
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
    height: 40px;
    width: 320px;
    display: block;
    margin: 0 auto; /* Center the element horizontally */
    text-align: left; /* Align the text to the left */
    padding-left: 10px; /* Add some left padding to the text */
  }
  
  .password {
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
    height: 40px;
    width: 320px;
    display: block;
    margin: 0 auto; /* Center the element horizontally */
    text-align: left; /* Align the text to the left */
    padding-left: 10px; /* Add some left padding to the text */
  }

  .labels {
    color: #e2e1e1; /* Change label color */
    font-size: 15px; /* Adjust label font size */
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    position: relative; /* Enable relative positioning */
    left: 45px; /* Adjust the desired left offset */
    bottom: 1.5px;
    top: 8px;
  }
  
  .workout {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 40px;
    left: 20px;
    font-size:5ch;
    
  }
  
  .in {
    font-family: 'Montserrat', sans-serif;
    color: #ea7203;
  }
  
  ion-content {
    --background: #0D0D0C;
    background-color: #0D0D0C;
  }
  

  .background {
    background-color: #0D0D0C;
  }
  
  .background-image {
    background-image: url('/assets/login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
  }


  ion-button {
    --background: #ea7203;
  
    --color: rgb(255, 255, 255);
  
    --border-radius: 20px;
    --border-color: #000;
    --border-style: solid;    
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: deeppink;
  
    --padding-top: 10px;
    --padding-bottom: 10px;

    height: 40px;
    width: 320px;
    display: block;
    margin: 10px auto; /* Center the buttons horizontally with some vertical margin */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px; /* Vertically center the button text */
    font-size: 16px;
  }

  .buttons {
    padding: 20px;
  }
  .username,
  .password,
  .labels,
  ion-button {
    margin-top: 10px; /* Adjust the margin-top value to bring the elements down */
  }

  
  
  
  