<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resumo Plano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">planosResumo</ion-title>
    </ion-toolbar>
  </ion-header>

  <br />

  <div class="centrar-div">
    <ion-text color="primary">Resumo</ion-text>
  </div> 

  <br />

  <ion-list>
    <ion-item>
      <ion-label>Nome do seu plano:</ion-label>
      <ion-input [(ngModel)]="workoutPlanService.workoutPlanName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea readonly label="Tempo do exercício" [value]="workoutPlanService.workoutDuration + ' min'"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-textarea readonly label="Categoria escolhida" [value]="workoutPlanService.selectedCategory.name"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-textarea readonly label="Sub-Categoria" [value]="workoutPlanService.selectedSubcategory.name"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="ion-padding" class="centrar-div">
    <ion-text color="primary">Exercícios escolhidos</ion-text>
  </div> 

  <ion-list class="ion-padding" >
    <ion-item *ngFor="let exercise of workoutPlanService.selectedExercises">
      <ion-checkbox justify="space-between">{{ exercise.name }}</ion-checkbox>
    </ion-item>
  </ion-list>

  <div class="ion-padding"></div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="guardarPlano()" shape="round">Guardar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="cancelarplano()" shape="round">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
