<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Treinar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">treinar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngFor="let category of planos">
    <ion-label>
      <h2>{{ category.menu }}</h2>
      <ion-list>
        <ion-item *ngFor="let subCategoria of category.subCategoria">
          <ion-label>
            <h3>{{ subCategoria.nome }}</h3>
            <p>Duração: {{ subCategoria.duracao }}</p>
            <p>Exercícios: {{ subCategoria.exercicios.join(', ') }}</p>
            <iframe width="560" height="315" [src]="getVideoUrl(subCategoria)" frameborder="0" allowfullscreen></iframe>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-label>
  </ion-item>
</ion-content>
