<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Treinar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">treinar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let plano of planos">
      <ion-label>
        <h2>{{ plano.nome }}</h2>
        <p>Duração: {{ plano.duracao }}</p>
        <p>Exercícios: {{ plano.exercicios.join(', ') }}</p>
        <p>Categoria: {{ plano.categoria }}</p>
        <iframe width="560" height="315" [src]="getVideoUrl(plano.categoria)" frameborder="0" allowfullscreen></iframe>

      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
