ion-content {
  --background: #383838;
  height: 100%; /* Set height to 100% to allow scrolling */
  display: flex; /* Use flexbox to center the button */
  flex-direction: column; /* Arrange elements vertically */
  align-items: center; /* Center elements horizontally */
  overflow: auto; /* Enable scrolling */
}

ion-button {
  --background: #ea7203;
  --color-selected: red;
  --border-radius: 50px;
  margin-top: auto; /* Push the button to the bottom of the container */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}


ion-select {
  background-color: #585858;
  border-radius: 10px;
  --border-radius:10px;

}

ion-fab-button {
  --background: #ea7203;
  --color-selected: red;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #ea73039f;

}

ion-button {
  --background: #ea7203;
  --color-selected: red;
  --border-radius: 50px;
}
