ion-content {
  --background: #383838;
  height: 100%; /* Set height to 100% to allow scrolling */
  display: flex; /* Use flexbox to center the button */
  flex-direction: column; /* Arrange elements vertically */
  align-items: center; /* Center elements horizontally */
  overflow: auto; /* Enable scrolling */
}

ion-button {
  --background: #e25c03;
  --color-selected: red;
  --border-radius: 50px;
}


ion-select {
  background-color: #d40000;
  border-radius: 10px;
  --border-radius:10px;

}

ion-fab-button {
  --background: #e25c03;
  --color-selected: red;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #ea73039f;

}

ion-icon {
  color: rgb(255, 255, 255); /* Replace "red" with your desired color value */
}

ion-checkbox {
  --size: 20px;
  --checkbox-background-checked: #a0a0a0;
}

ion-checkbox::part(container) {
  border-radius: 20px;
  border: 2px solid #a0a0a0;
}
