<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Planos de Treino</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">planos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid> 
    <ion-row class="ion-padding">
      <ion-col><h2></h2></ion-col>
      <ion-col size="auto">
        <div style="width: 50px">
          <ion-fab>
            <ion-fab-button (click)="criarPlanos()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-select label="Meus planos" label-placement="floating" fill="outline">
    <ion-select-option value="1">Treino de alongamentos 1</ion-select-option>
    <ion-select-option value="2">Treino de alongamentos 2</ion-select-option>
    <ion-select-option value="3">Treino de alongamentos 3</ion-select-option>
  </ion-select>

  <br />

  <ion-select label="Alongamentos" label-placement="floating" fill="outline">
    <ion-select-option value="1">Treino de alongamentos 1</ion-select-option>
    <ion-select-option value="2">Treino de alongamentos 2</ion-select-option>
    <ion-select-option value="3">Treino de alongamentos 3</ion-select-option>
  </ion-select>

  <br />

  <ion-select label="Ioga" label-placement="floating" fill="outline">
    <ion-select-option value="1">Treino de ioga 1</ion-select-option>
    <ion-select-option value="2">Treino de ioga 2</ion-select-option>
    <ion-select-option value="3">Treino de ioga 3</ion-select-option>
  </ion-select>

  <br />

  <ion-select label="Musculação" label-placement="floating" fill="outline">
    <ion-select-option value="1">Treino de musculação 1</ion-select-option>
    <ion-select-option value="2">Treino de musculação 2</ion-select-option>
    <ion-select-option value="3">Treino de musculação 3</ion-select-option>
  </ion-select>

  <br />

  <ion-select label="Cárdio" label-placement="floating" fill="outline">
    <ion-select-option value="1">Treino de cárdio 1</ion-select-option>
    <ion-select-option value="2">Treino de cárdio 2</ion-select-option>
    <ion-select-option value="3">Treino de cárdio 3</ion-select-option>
  </ion-select>

  <br />

  <ion-select label="Resistência" label-placement="floating" fill="outline">
    <ion-select-option value="1">Treino de resistencia 1</ion-select-option>
    <ion-select-option value="2">Treino de resistencia 2</ion-select-option>
    <ion-select-option value="3">Treino de resistencia 3</ion-select-option>
  </ion-select>

  <br />
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button  [disabled]="true">Iniciar treino</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
