<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Planos de Treino</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">planos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid> 
    <ion-row class="ion-padding">
      <ion-col><h2></h2></ion-col>
      <ion-col size="auto">
        <div style="width: 50px">
          <ion-fab>
            <ion-fab-button (click)="criarPlanos()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ng-container *ngFor="let category of dataCategories | keyvalue">
      <ion-item>
        <ion-label>{{ category.value.name }}</ion-label>
        <ion-button fill="clear" slot="end" (click)="toggleSubcategories(category.key)">
          <ion-icon [name]="showSubcategories[category.key] ? 'arrow-up' : 'arrow-down'"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item-group *ngIf="showSubcategories[category.key]">
        <ion-item *ngFor="let subcategory of category.value.subcategories">
          <ion-label>{{ subcategory }}</ion-label>
          <ion-checkbox class="checkmark" [(ngModel)]="selectedSubcategories[category.key][subcategory]"></ion-checkbox>
        </ion-item>
      </ion-item-group>
    </ng-container>
  </ion-list>
  
  <ion-button  [disabled]="true">Iniciar treino</ion-button>
  <ion-button  (click)="editarPlanos()">editar plano</ion-button>
</ion-content>
