<ion-header>
  
  <ion-toolbar>
    <ion-title size="large"></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" scrollY="true">
  <link rel="stylesheet" type="text/css" href="inicio.page.scss">
  <div id="container" class="container">
    <h1 class="text-3xl"><span class="text-gray">Olá</span> <span class="text-orange-400">António</span></h1>
    <section>
      <a href="www.youtube.com">
        <img src="../../assets/home_page.png" alt="" srcset="">
      </a>
    </section>

    <section class="grid grid-cols-3 gap-3">
      <button class="bg-buttons p-1 col-span-2 text-lg">Meus treinos</button>
      <button class="bg-buttons p-1">
        <img src="../../assets/seta.svg" alt="" srcset="">
      </button>
    </section>
    <h1 class="text-3xl feed-heading">Feed</h1>
  </div>

 
</ion-content>
