<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <main id="container" class="container">
    <h1 class="text-3xl">Olá <span class="text-orange-400">António</span></h1>
    <section>
      <a href="www.youtube.com">
        <img src="../../assets/home_page.png" alt="" srcset="">
      </a>
    </section>
    <section class="grid grid-cols-3 gap-3">
      <button class="bg-buttons p-2 col-span-2 text-xl">Meus treinos</button>
      <button class="bg-buttons p-2">
        <img src="../../assets/seta.svg" alt="" srcset="">
      </button>
    </section>
    <h1 class="text-3xl">Feed</h1>
  </main>
</ion-content>
