

.texto-claro {
    --color: #fff;
  }

.centrar-div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
ion-range::part(tick) {
    background: #ffffff;
  }
  
  ion-range::part(tick-active) {
    background: #ffffff;
  }
  
  ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    background: #fa6502(0, 100%, 51%);
    color: #fff;
  
    border-radius: 50%;
    transform: scale(1.01);
  
    top: -20px;
  
    min-width: 28px;
    height: 28px;
    transition: transform 120ms ease, background 120ms ease;
  }
  
  ion-range::part(pin)::before {
    content: none;
  }
  
  ion-range::part(knob) {
    background:#fa6502;
  }
  
  ion-range::part(bar) {
    background: #a2d2ff;
  }
  
  ion-range::part(bar-active) {
    background: #fa6502;
  }

